* {
  margin: 0;
  padding: 0;
}

body {
  background-image:
    radial-gradient(circle at top left, #191b2c, transparent 60%),
    radial-gradient(circle at bottom right, #091922, transparent 60%),
    linear-gradient(135deg, #0f1020, #15162b);
  background-attachment: fixed;
}

.header {
  height: 100px;
  background-color: #151029c7;
  backdrop-filter: blur(15px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 400;
}

.logo-box {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  height: 80px;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1920px;
  height: 100%;
  width: 100%;
  margin: 0 5% 0 5%;
  color: white;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 5px 100px 5px;
}

.cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 35px;
  padding: min(3em, 8%) 5px;
  max-width: 1920px;
}

h1{
  font-size: clamp(1.3rem, calc(2vw + 1rem), 3rem);
}

h2 {
  font-size: 1.2rem;
}

.message{
  font-size: clamp(1.3rem, calc(0.8vw + 1rem), 2rem);
  font-weight: 100;
  text-align: center;
  color: white;
  font-family: "Segoe UI", sans-serif;
  margin: 20px;
}

.message span{
  color: #e01f2f;
  font-weight: 400;
}

/* loading spinner screen*/
.spinner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #0c0c169f;
  backdrop-filter: blur(15px);
  inset: 0;
  z-index: 500;
}
.loader-pokeball {
  height: 60px;
  aspect-ratio: 1;
  position: relative;
}

.loader-pokeball::before,
.loader-pokeball::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  transform-origin: bottom;
}

.loader-pokeball::after {
  background:
    radial-gradient(at 75% 15%, #fffb, #0000 35%),
    radial-gradient(at 80% 40%, #0000, #0008),
    radial-gradient(circle 8px, #fff 94%, #0000),
    radial-gradient(circle 11px, #000 94%, #0000),
    linear-gradient(#f93318 0 0) top / 100% calc(50% - 5px),
    linear-gradient(#fff 0 0) bottom/100% calc(60% - 5px) #000;
  background-repeat: no-repeat;
  animation: l20 1s infinite cubic-bezier(0.5, 120, 0.5, -120);
}

.loader-pokeball::before {
  background: #000000ab;
  filter: blur(5px);
  transform: scaleY(0.3) translate(-2px, 20px);
}

@keyframes l20 {
  30%,
  70% {
    transform: rotate(0deg);
  }
  49.99% {
    transform: rotate(0.2deg);
  }
  50% {
    transform: rotate(-0.2deg);
  }
}

.loader {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: block;
  margin: 15px auto;
  position: relative;
  color: white;
  box-sizing: border-box;
  animation: animloader 1s linear infinite alternate;
  margin-top: 40px;
}

@keyframes animloader {
  0% {
    box-shadow:
      -38px -12px,
      -14px 0,
      14px 0,
      38px 0;
  }
  33% {
    box-shadow:
      -38px 0px,
      -14px -12px,
      14px 0,
      38px 0;
  }
  66% {
    box-shadow:
      -38px 0px,
      -14px 0,
      14px -12px,
      38px 0;
  }
  100% {
    box-shadow:
      -38px 0,
      -14px 0,
      14px 0,
      38px -12px;
  }
}

.of-hidden {
  overflow: hidden;
}

@media screen and (max-width: 1024px) {
  .header {
    height: auto;
    padding: 15px;
  }

  .header-inner {
    flex-direction: column;
    gap: 10px;
  }

  .search {
    flex-direction: column;
    gap: 10px;
  }

  .logo {
    height: 50px;
  }
}

.d-none {
  display: none;
}