* {
  margin: 0;
  padding: 0;
}

body {
  background-image:
    radial-gradient(circle at top left, #191b2c, transparent 60%),
    radial-gradient(circle at bottom right, #091922, transparent 60%),
    linear-gradient(135deg, #0f1020, #15162b);
  background-attachment: fixed;
}

header {
  height: 100px;
  background-color: #151029c7;
  backdrop-filter: blur(15px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  border-bottom: 1px solid rgba(255, 255, 255, 0.075);
}

.logo-box {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  height: 80px;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1920px;
  height: 100%;
  width: 100%;
  margin: 0 5% 0 5%;
  color: white;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 5px 100px 5px;
}

.cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 35px;
  padding: 100px 5px;
  max-width: 1920px;
}

h2 {
  font-size: 1.2rem;
}

/* loading spinner */
.loader {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: block;
  margin:15px auto;
  position: relative;
  color: white;
  box-sizing: border-box;
  animation: animloader 1s linear infinite alternate;
  margin-top: 60px;
}

@keyframes animloader {
  0% {
    box-shadow: -38px -12px ,  -14px 0,  14px 0, 38px 0;
  }
  33% {
    box-shadow: -38px 0px, -14px -12px,  14px 0, 38px 0;
  }
  66% {
    box-shadow: -38px 0px , -14px 0, 14px -12px, 38px 0;
  }
  100% {
    box-shadow: -38px 0 , -14px 0, 14px 0 , 38px -12px;
  }
}


.d-none{
  display: none;
}
