.card {
  width: 290px;
  height: 350px;
  background: #333547;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  color: white;
  font-family: "Segoe UI", sans-serif;
  padding: 20px;
  position: relative;
  overflow: hidden;
  display: flex;
  transition: transform 0.3s ease;
}

.card::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
  background: linear-gradient(
    110deg,
    rgba(255, 255, 255, 0) 10%,
    rgba(255, 255, 255, 0.2) 25%,
    rgba(0, 255, 255, 0.1) 40%,
    rgba(255, 0, 255, 0.1) 60%,
    rgba(255, 255, 255, 0.2) 75%,
    rgba(255, 255, 255, 0) 90%
  );
  background-size: 200% 200%;
  mix-blend-mode: overlay;
  opacity: 0.6;
  pointer-events: none;
  transition: 0.3s ease;
}

.card:hover::after {
  background-position: 100% 100%;
}

.card:hover {
  box-shadow: 0 0 20px #656c8a;
  cursor: pointer;
  transform: scale(1.03);
}

/* card border  */
.card-border {
  position: absolute;
  inset: 0;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  pointer-events: none;
  z-index: 10;
}

.border-row-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.border-row-bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}

.side-bar {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.side-bar.left {
  left: 15px;
}

.side-bar.right {
  right: 15px;
}

.dot {
  width: 14px;
  height: 14px;
  background: white;
  border-radius: 50%;
  box-shadow: 0 0 15px white;
}

.rectangle {
  background: white;
  box-shadow: 0 0 15px white;
  border-radius: 3px;
}

.horizontal {
  width: 80px;
  height: 5px;
}

.vertical {
  width: 5px;
  height: 80px;
}

/* card content */
.card-inner {
  height: 100%;
  flex: 1;
  display: flex;
}

.card-content {
  background-image: url("../assets/stardust.png");
  clip-path: polygon(
    20px 0%,
    calc(100% - 20px) 0%,
    100% 20px,
    100% calc(100% - 20px),
    calc(100% - 20px) 100%,
    20px 100%,
    0% calc(100% - 20px),
    0% 20px
  );
  margin: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.headline {
  background-color: #a7a7ac7a;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
  text-transform: capitalize;
}

.img-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  box-shadow: 0 0 12px rgba(255, 255, 255, 0.2) inset;
}

.card-img {
  width: auto;
  height: 210px;
}

.card-info {
  background-color: #a7a7ac7a;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
}

/* type colors for pokemon cards */
.type-normal {
  background-color: #a8a77a5b;
  box-shadow: 0 0 12px #a8a77a inset;
}
.type-fighting {
  background-color: #c22d2848;
  box-shadow: 0 0 12px #c22d28 inset;
}
.type-flying {
  background-color: #aa8ff352;
  box-shadow: 0 0 12px #aa8ff3 inset;
}
.type-poison {
  background-color: #a33ea149;
  box-shadow: 0 0 12px #a33ea1 inset;
}
.type-ground {
  background-color: #e2bf6546;
  box-shadow: 0 0 12px #e2bf65 inset;
}
.type-rock {
  background-color: #b6a13646;
  box-shadow: 0 0 12px #b6a136 inset;
}
.type-bug {
  background-color: #a6b91a44;
  box-shadow: 0 0 12px #a6b91a inset;
}
.type-ghost {
  background-color: #73579736;
  box-shadow: 0 0 12px #735797 inset;
}
.type-steel {
  background-color: #b7b7ce4d;
  box-shadow: 0 0 12px #b7b7ce inset;
}
.type-fire {
  background-color: #ee823044;
  box-shadow: 0 0 12px #ee8230 inset;
}
.type-water {
  background-color: #6390f052;
  box-shadow: 0 0 12px #6390f0 inset;
}
.type-grass {
  background-color: #79c74c46;
  box-shadow: 0 0 12px #79c74c inset;
}
.type-electric {
  background-color: #f7ce2c49;
  box-shadow: 0 0 12px #f7ce2c inset;
}
.type-psychic {
  background-color: #f9558633;
  box-shadow: 0 0 12px #f95586 inset;
}
.type-ice {
  background-color: #96d9d63a;
  box-shadow: 0 0 12px #96d9d6 inset;
}
.type-dark {
  background-color: #70574634;
  box-shadow: 0 0 12px #705746 inset;
}
.type-fairy {
  background-color: #d685ad3d;
  box-shadow: 0 0 12px #d685ad inset;
}
.type-stellar {
  background-color: #d1f7f53f;
  box-shadow: 0 0 12px #d1f7f5 inset;
}
.type-unknown {
  background-color: #3838388a;
  box-shadow: 0 0 12px #383838 inset;
}