.dialog-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog-mode {
  width: 900px;
  height: 700px;
  background: #33354798;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  color: white;
  font-family: "Segoe UI", sans-serif;
  position: fixed;
  inset: 0;
  margin: auto;
  display: flex;
  transition: transform 0.3s ease;
}

dialog::backdrop {
  background-color: #0c0c169f;
  backdrop-filter: blur(15px);
}

body:has(dialog[open]) {
  overflow: hidden;
}

.dialog-mode-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
}

.dialog-content {
}

.header-dialog {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dialog-headline {
  font-size: clamp(1.3rem, calc(1.3vw + 1rem), 3rem);
  text-transform: capitalize;
}

.img-progress{
  display: flex;
  justify-content: space-between;
}

.footer-dialog-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  margin: 20px;
}

.img-dialog {
  max-width: 300px;
}
